<div class="container">
	<h1>Get referral url for <%= @campaign.name %></h1>
	<div class="jumbotron">
		<%= form_for @user, :url => { :controller => "home", :action => "new_campaign_user", id: @campaign.id }, method: :post do |f| %>
			<div>
				<%= f.label :name, "Name" %>&nbsp&nbsp
				<%= f.text_field :name %><br><br>
			</div>
			<div>
				<%= f.label :email, 'Email' %>&nbsp&nbsp
				<%= f.email_field :email %><br><br><br>
			</div>
			<div class="recaptcha">
				<%= recaptcha_tags callback: 'formSubmit' %><br><br>
			</div>
			<div class="recaptcha-submit">
				<%= f.submit "Get Referral", id: "submit", class: "invisible" %>
			</div>	
	<% end %>
	</div>
</div>