<div class="container">
<h2>Campaigns</h2>
	<ul class="list-group">
		<table class="table">
		    <thead>
		      <tr>
		        <th>Campaign Name</th>
		        <th>Total tokens to be air dropped</th>
		        <th>Tokens for each referral</th>
		        <th>Tokens percentage for contribution</th>
		        <th>Please provide your details below to get tokens</th>
		      </tr>
		    </thead>
		    <tbody>
				<% @campaigns.each do |campaign| %>
					<tr>
						<td><%= campaign.name %></td>
						<td><%= campaign.total_tokens_to_be_airdropped %></td>
						<td><%= campaign.tokens_for_each_referral %></td>
						<td><%= campaign.token_percentage_for_contribution %>%</td>
						<td><a href="/home/campaign?id=<%= campaign.id %>"><button class="btn btn-success">Click Here</button></a> </td>
					</tr>
	    		<% end %>
	    	</tbody>
	    </table>
	</ul>
</div>