<div class="container">
	Hi <%= @new_campaign_user.name %> your referral url is : 
	<a href="<%= Rails.application.routes.default_url_options[:host] %>/home/referral_url/?token=<%= @new_campaign_user.token %>" class="data-no-turbolink"><%= Rails.application.routes.default_url_options[:host] %>/home/referral_url/?token=<%= @new_campaign_user.token %></a> <button onclick="myFunction()">Copy Link</button>
	<textarea id="referral-url" style="display:none"><%= Rails.application.routes.default_url_options[:host] %>x/home/referral_url/?token=<%= @new_campaign_user.token %></textarea>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
<script type="text/javascript">
	function myFunction(){
  		var copyText = document.getElementById("referral-url");
		copyText.select();
  		document.execCommand("Copy");
  		noti = new Noty({
		    text: 'Referral URL Copied!',
		    timeout: 2000,
		    animation: {
     	   		open: 'animated bounceInRight', // Animate.css class names
        		close: 'animated bounceOutRight' // Animate.css class names
    		}
		}).show();
	}


</script>