<!DOCTYPE html>
<html>
  <head>
    <title>Adopters Token Distribution</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>
    <% if params[:action] != "index" %>
      <div id = "header">
        <!-- <div><a href="/admin" id="admin-link">Admin</a> </div> -->
        <% if params[:action] == "campaign" %>
          <div id="index-header">Register Now & Get <%= Campaign.where(id: params[:id].to_i).first.tokens_to_be_given_to_every_new_user %> Adopters Tokens </div>
        <% elsif params[:action] == "new_campaign_user" %>
          <div id="index-header">Let's Grow Adopters Community & Share Adopters Love with Friends</div>
        <% elsif params[:action] == "campaign_ended" %>
          <div id="index-header">Sorry! Maximum Cap has been reached!</div>
        <% end %>

      </div>
    <% end %>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
